<%= form_for(@user) do |f| %>
  <div class="row">
    <%= f.label :first_name, class: "col col-lg2 control label" %><br>
    <div class="col col-lg-10">
      <%= f.text_field :first_name %>
    </div>
  </div>
  <div class="row">
    <%= f.label :last_name, class: "col col-lg2 control label" %><br>
    <div class="col col-lg-10">
      <%= f.text_field :last_name %>
    </div>
  </div>
  <div class="row">
    <%= f.label :email, class: "col col-lg2 control label" %><br>
    <div class="col col-lg-10">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="row">
    <%= f.label :password, class: "col col-lg2 control label" %><br>
    <div class="col col-lg-10">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="row">
    <%= f.label :password_confirmation, class: "col col-lg2 control label" %><br>
    <div class="col col-lg-10">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-10 col-offset-2">
      <%= f.submit "Sign up!", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
