<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @book.quantity %>
</p>

<p>
  <strong>Code:</strong>
  <%= @book.code %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category.name %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
